

*,html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 550px;
    margin: 0 auto;
    background-color: #f5f5f5;
    font-family: 'Inter', sans-serif;
}

header{
    background-image: url(./Assets/Hero.png);
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    position: relative;
}

.link:hover,
.link:focus{
    text-shadow:0 0px 8px white;
}

a{
    text-decoration: none;
}

a>svg,
.icon{
    transform: translateY(15%);
}

a,
a:visited{
    text-decoration: none;
    color: inherit;
}

header::before{
    content: "";
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

.title-container{
    display: flex;
    justify-content: space-between;
}
.title-container > h1{
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
}

.title-container > a{
    font-weight: bold;
    color: white;
}

.search-container{
    width: 80%;
    display: flex;
    position: absolute;
    bottom: 0px;
    transform: translateY(50%);
    box-shadow: 2px 5px 4px grey;
    border-radius: 5px;
}

.search-container>input{
    width: 100%;
    line-height: 38px;
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4ZM2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8C14 9.29583 13.5892 10.4957 12.8907 11.4765L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3166 18.0976 16.6834 18.0976 16.2929 17.7071L11.4765 12.8907C10.4957 13.5892 9.29583 14 8 14C4.68629 14 2 11.3137 2 8Z" fill="%239CA3AF"/></svg>');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 10px 50%;
    text-indent: 2.5rem;
    border: white;
    border-right:none;
}

.search-container>input:focus{
    outline: none;
    border: black;
}

.search-container > button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 30%;
    font-size: 1rem;
    border: white;
}

.title-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 80%;
}

.movie-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-list-container>h3{
    padding-top: 20dvh;
    color:#5c5c5c;
    margin: .5rem 0;
}

.movie-list-container section:last-child{
    margin-bottom: 40px;
}

.initial-icon{
    text-align: center;
    color:#5c5c5c;
    padding-top: 20dvh;
}

.initial-icon>p{
    color: inherit;
    font-size: 1.25rem;
}

.movie-container,
.info-container,
.text-container{
    display: flex;
    max-height: 250px;
}

.movie-container{
    margin-top: 30px;
    padding: 1rem 0;
    border-bottom: 2px solid grey;
    width: 100%;
}

.text-container{
    flex-direction: column;
    padding-left: 1rem;
    gap:1rem;
    position: relative;
}

.info-container{
    flex-direction: row;
    align-items: baseline;
    gap: .25rem;
    color:#111827;
    font-size: 1rem;    
}

.info-container{
    text-overflow: elipsis;
}

.info-container>span{
    position: absolute;
    left: 30%;
    top: 20%;
    display: inline-block;
    padding: .75rem .5rem;
    background-color: grey;
    color: #f5f5f5;
    border-radius: 5px;
}

.info-container>*:not(img){
    margin-right: .5rem;
}

.movie-container>img{
    width:100px;
    object-fit: cover;
    box-shadow: 2px 4px 8px grey;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 3px;
    
}

.info-container>button{
    border: none;
    border-radius: 20px;
    background-color: inherit;
    background-position: 5px 45%;
    background-repeat: no-repeat;
    background-size: 1em;
    margin-left: 1rem;
    padding: .25rem .5rem;
    align-items: baseline;
    text-indent: 1rem;
    box-shadow: 1px 2px 2px grey;
}

.info-container>button.remove{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M25 50C38.8071 50 50 38.8071 50 25C50 11.1929 38.8071 0 25 0C11.1929 0 0 11.1929 0 25C0 38.8071 11.1929 50 25 50ZM15.625 21.875C13.8991 21.875 12.5 23.2741 12.5 25C12.5 26.7259 13.8991 28.125 15.625 28.125H34.375C36.1009 28.125 37.5 26.7259 37.5 25C37.5 23.2741 36.1009 21.875 34.375 21.875H15.625Z" fill="%23111827"/></svg>');
}

.info-container>button.add{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM9 5C9 4.44772 8.55228 4 8 4C7.44772 4 7 4.44772 7 5V7H5C4.44772 7 4 7.44771 4 8C4 8.55228 4.44772 9 5 9H7V11C7 11.5523 7.44772 12 8 12C8.55228 12 9 11.5523 9 11V9H11C11.5523 9 12 8.55228 12 8C12 7.44772 11.5523 7 11 7H9V5Z" fill="%23111827"/></svg>');
}

.page-select{
    display: flex;
    margin: 0 auto;
    padding-bottom: .5rem;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 550px;
    background-color: #f5f5f5;
    font-size: 1.25rem;
    align-items: center;
}

.page-select>button{
    padding: .25rem;
    border-radius: 50%;
    width: 1.5rem;
    font-size: .85rem;
    font-weight: bold;
    margin: .5rem .5rem;    
    border: none;
    box-shadow: 1px 2px 2px grey;
}

button:hover,
button:focus{
    cursor: pointer;
    background-color: grey;
    color: white;
}

button:active{
    background-color:#111827;
    color: #f5f5f5;
}

@media (max-width: 549px) {
    .page-select{
        width: 100%;    
    }
  }